<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Welcome to my Reddit</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
</head>

<body>
  <div class="header">
    <h1>Space</h1>
  </div>
  <div class="content">
    <div class="post">
      <div class="votes">
        <img class="upvote" src="./assets/upvote.png">
        <div class="score">14.4k</div>
        <img class="downvote" src="./assets/downvote.png">
      </div>
      <div class="post-content">
        <h2 class="post-tile">Nasa discowered the bigest body in the universe: Yo'mama</h2>
        <p class="post-date">submitted 4 days ago by <span class="user">anonymus</span> </p>
        <div class="post-actions">
          <a class="post-modify" href="#">modify</a>
          <a class="post-delete" href="#">delete</a>
        </div>
      </div>
    </div>
    <div class="side-bar">
      <button>Submit a new post</button>
      <div class="about">
        <h3>About <span>r/space</span></h3>
        <div class="about-body">
          
        </div>
      </div>
    </div>
  </div>


  <script src="./app.js"></script>
</body>

</html>