
.container {
  width: auto;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(246, 220, 147);
  list-style-type: none;
  padding: 0;
}

.item {
  width: 100px;
  height: 100px;
  background-color: rgb(197, 126, 219);
}
