<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    <h1>Things to do today:</h1>
    <ul>
      <%todos.forEach(v=>{%>
        <li><%=v%></li>
      <%})%>
    </ul>
  </body>
</html>